@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
    background-color: white;
}

.main-container {
    width: 100%;
    display: flex;
}

.left {
    padding-left: 50px;
    width: 20%;
}

.left .logo i {
    color: cornflowerblue;
}

.left .nav-links ul li:first-of-type {
    font-size: 30px;
}

.left .nav-links ul {
    list-style: none;
    padding: 20px;
}

.left .nav-links ul li {
    padding: 15px;
    color: cornflowerblue;
}

.left .nav-links ul li i {
    padding-right: 15px;
}

.left .nav-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.left .nav-links ul li a:hover {
    background-color: rgb(204, 220, 248);
    background-size: auto;
    padding: 8px;
    border-radius: 10px;
    color: blue;
}

.left .nav-links ul li button {
    background-color: rgb(50, 122, 255);
    padding: 10px;
    border-radius: 15px;
    color: white;
    width: 100px;
    border: none;
    cursor: pointer;
}

.left .fas .fa-ellipsis-h {
    border-radius: 50%;
    border: 10px solid #000;
}

.middle {
    width: 55%;
    padding-top: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.middle .top {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.middle .top p,
.middle .top i {
    padding: 10px;
}

.middle .postSection {
    width: 100%;
    display: flex;
    padding: 10px;
}

.middle .postSection #myForm input[type="text"] {
    width: 100%;
    padding: 20px;
    margin: 5px;
    border: none;
    font-size: 20px;
}

.middle .postSection #myForm input[type="text"]::placeholder {
    color: #aaa;
}

.middle .postSection #myForm input[type="text"]:focus {
    outline: none;
}

.middle .postSection .avatar {
    vertical-align: middle;
    width: 6%;
    height: 3%;
    border-radius: 50%;
}

.middle .icons ul {
    list-style: none;
}

.middle .icons ul li {
    display: inline;
    padding-left: 20px;
    font-size: 25px;
}

.middle .icons ul li a {
    color: cornflowerblue;
    text-decoration: none;
}

.middle .icons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.middle .icons .second li {
    padding-left: 10px;
    vertical-align: middle;
}

.middle .icons .second li button {
    background-color: rgb(62, 130, 255);
    padding: 10px;
    color: white;
    border-radius: 10%;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
}

.middle .icons .second li .fa-plus-circle {
    font-size: 30px;
}

.middle .main-content {
    border-top: 8px solid #ccc;
    padding: 10px;
}

.middle .main-content .content {
    display: flex;
}

.middle .main-content p {
    padding-left: 20px;
    line-height: 30px;
}

.middle .main-content .content p {
    padding-left: 10px;
    /* vertical-align: middle; */
}

.middle .main-content #hashtag {
    color: #999;
    width: inherit;
}

.middle .main-content #more {
    color: #999;
    margin-left: 40%;
}

.middle .main-content:last-of-type {
    border-top: 1px solid #ccc;
}

.middle .main-content .major_content {
    padding-left: 20px;
}

.middle .main-content .major_content img {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.middle .main-content .content-icons {
    padding: 20px;
}

.middle .main-content .content-icons i {
    padding-left: 100px;
    font-size: 20px;
    color: #999;
    cursor: pointer;
}

.right {
    padding: 30px;
    width: 25%;
}

.right .search form .fa-search {
    position: relative;
    top: 28px;
    left: 5px;
    color: #aaa;
}

.right .search form input[type="text"] {
    width: 100%;
    background-color: rgba(224, 224, 224, 0.63);
    font-size: 16px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    margin-bottom: 30px;
}

.right .search form input[type="text"]::placeholder {
    padding-left: 15px;
    font-size: 16px;
}

.right .search form input[type="text"]:focus {
    padding-left: 20px;
}

.right .trending {
    background-color: rgba(224, 224, 224, 0.63);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.right .trending #settings {
    padding-left: 135px;
    cursor: pointer;
    color: rgb(49, 49, 255);
}

.right .trending #settings:hover {
    color: black;
}

.right .trending .tweets {
    padding-top: 10px;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
}

.right .trending p a {
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}

.right .links ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    width: 100%;
}

.right .links ul li {
    padding-left: 10px;
    font-size: 14px;
}

.right .links ul li a {
    text-decoration: none;
    color: #999;
}

.right .links ul li a:hover {
    color: black;
}

.right .links p {
    color: #999;
    font-size: 14px;
    padding-left: 10px;
}

.right .follow {
    margin-top: 20px;
    background-color: rgba(224, 224, 224, 0.63);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.right .follow .details {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.right .follow .details button {
    /* display: flex;
    flex-wrap: wrap; */
    margin-left: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(43, 117, 255);
    color: white;
    width: 30%;
}

.right .follow .details,
.right .follow .details button:hover {
    cursor: pointer;
}

.right .follow .details .single h4,
.right .follow .details .single p {
    font-size: 10px;
}

.right .follow i {
    font-size: 30px;
    padding: 1px;
}